POSTGRES_USER=my_user
POSTGRES_PASS=my_password
POSTGRES_DATABASE_URL=jdbc:postgresql://postgres:5432/my_database
POSTGRES_DB=my_database

RABBITMQ_HOST=my_rabbitmq
RABBITMQ_PORT=my_rabbitmq_port
RABBITMQ_USER=my_rabbitmq_user
RABBITMQ_PASS=my_eabbitmq_password

RABBITMQ_DEFAULT_USER=my_rabbitmq_default_user
RABBITMQ_DEFAULT_PASS=my_eabbitmq_default_password

SECURITY_USER=my_security_user
SECURITY_PASS=my_security_password

DDL=update
SHOW_SQL=false

NMAP_TIMEOUT=PT10M
NUCLEI_TIMEOUT=PT10M
NIKTO_TIMEOUT=PT10M